<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    message: asdfasdf
    {{ message }}
    <img src="/test.PNG" />
    <form action="/api/auth/signIn" method="post">
      <label for="id">ID</label>
      <input type="text" id="id">
      <br/>
      <label for="pw">PW</label>
      <input type="text" id="pw">
      <br/>
      <button type="submit">login</button>  
    </form>
    <br/>
    <button onclick="regist()">regist</button>

    <script >
      function regist(){
        
      }
    </script>
  </body>
</html>